<% @bookings.each do |booking| %>
<%= link_to edit_place_booking_path(booking.place, booking) do %>
 <ul class="list-unstyled text-center">
      <li><%= booking.place.name%></li>
      <li><%= booking.place.address%></li>
      <li> Start : <%= booking.start_time%></li>
      <li> End : <%=booking.end_time%> </li>
      <p>-----------------------------</p>
</ul>
<% end %>
<% end %>
