<% @bookings.each do |booking| %>
 <ul class="list-unstyled text-center">
      <li><%= booking.place.name%></li>
      <li><%= booking.place.address%></li>
      <li> Start : <%= booking.start_time%></li>
      <li> End : <%=booking.end_time%> </li>
      <%= link_to "Cancel booking", booking_path(booking), class:'btn btn-danger', method: :delete, data: { confirm: "Are you really sure?" } %>
</ul>
<% end %>
