<%= f.error_notification %>

<%= f.input :name %>
<%= f.input :address %>
<%= f.input :photo, as: :attachinary %>
<h4>Days available</h4>
<%= f.input :monday %>
<%= f.input :tuesday %>
<%= f.input :wednesday %>
<%= f.input :thursday %>
<%= f.input :friday %>
<%= f.input :saturday %>
<%= f.input :sunday %>

<%= f.button :submit, class: "btn btn-warning" %>
