<%= f.error_notification %>

<div id="place-infos">
  <p><strong>1. Your place infos</strong></p>
  <%= f.input :name, class: 'field', placeholder:'Your name' %>
  <%= f.input :address, class: 'field' %>
  <%= f.input :description, class: 'field', placeholder:'Add a description'%>
  <%= f.input :latitude,as: :hidden, input_html: { id: 'latitude'} %>
  <%= f.input :longitude, as: :hidden, input_html: { id: 'longitude'} %>
  <p><strong>2. Refine location</strong></p>
  <p>Drag the marker on the exact location of your place</p>
    <div id="map-simple" class="map-submit"></div>
  <br>
  <p><strong>3. Add a photo</strong></p>
  <%= f.input :photo, as: :attachinary, class: 'field' %>
  <p><strong>4. Define availability</strong></p>
  <%= f.input :monday %>
  <%= f.input :tuesday, input_html: { :style => 'display: inline' } %>
  <%= f.input :wednesday, input_html: { :style => 'display: inline' } %>
  <%= f.input :thursday, input_html: { :style => 'display: inline' } %>
  <%= f.input :friday %>
  <%= f.input :saturday, input_html: { :style => 'display: inline' } %>
  <%= f.input :sunday, input_html: { :style => 'display: inline' } %>
</div>
<div id="whitelists">
  <p><strong>5. Define who can access your calendrio</strong></p>
  <p>(you will allow them to book any available slot...)</p>
  <%= f.simple_fields_for :whitelists do |whitelist| %>
    <%= render 'whitelist_fields', f: whitelist %>
  <% end %>
  <div>
  <%= link_to_add_association "add person's email".html_safe, f, :whitelists %>
  </div>
</div>
<div style="margin: 25px">
</div>
<div class="col-xs-12 links">
  <%= f.button :submit, class: "btn btn-warning" %>
  <%= link_to 'Cancel', places_path %>
</div>

