<%= f.error_notification %>

<%= f.input :name %>
<%= f.input :address %>
<%= f.input :photo, as: :attachinary %>

<div id="whitelists">
  <h3>Invite someone to access this calendar</h3>
  <p>(you will allow them to book any available slot...)</p>
  <%= f.simple_fields_for :whitelists do |whitelist| %>
    <%= render 'whitelist_fields', f: whitelist %>
  <% end %>
  <h4>
    <%= link_to_add_association "<i class= 'fa fa-check'></i>".html_safe, f, :whitelists %>
  </h4>
</div>
<div class="col-xs-12 links">
  <%= f.button :submit, class: "btn btn-primary" %>
  <%= link_to 'Cancel', places_path %>
</div>
