<%= f.error_notification %>

<div id="place-infos">

  <p><strong>
    1. Manage users
  </strong></p>
  <%= link_to 'Edit who can access your calendar', place_whitelists_url(@place) %>
  <p><br></p>
  <p><strong>
    2. Your place infos
  </strong></p>


  <%= f.input :name, class: 'field' %>
  <%= f.input :address, class: 'field' %>
  <%= f.input :latitude,as: :hidden, input_html: { id: 'latitude'} %>
  <%= f.input :longitude, as: :hidden, input_html: { id: 'longitude'} %>

  <p><strong>
    3. Refine location
  </strong></p>
  <p>Drag the marker on the exact location of your place</p>
    <div id="map-simple" class="map-submit"></div>
  <br>
  <p><strong>
    4. Add a photo
  </strong></p>
  <%= f.input :photo, as: :attachinary, class: 'field' %>

  <p><strong>
    5. Define availability
  </strong></p>
  <%= f.input :monday %>
  <%= f.input :tuesday %>
  <%= f.input :wednesday %>
  <%= f.input :thursday %>
  <%= f.input :friday %>
  <%= f.input :saturday %>
  <%= f.input :sunday %>
</div>

  <h2 class="personalised-url">Personnalized URL</h2>
  <p>www.calendr.io/<%= @place.slug %></p>

<%= f.button :submit, class: "btn btn-warning" %>

