<%= f.error_notification %>

<div id="place-infos">
  <%= f.input :name, class: 'field' %>
  <%= f.input :address, class: 'field' %>
  <%= f.input :photo, as: :attachinary, class: 'field' %>
  <h4>Days available</h4>
  <%= f.input :monday %>
  <%= f.input :tuesday %>
  <%= f.input :wednesday %>
  <%= f.input :thursday %>
  <%= f.input :friday %>
  <%= f.input :saturday %>
  <%= f.input :sunday %>
</div>
<div id="whitelists">
  <h3>Invite people to access this calendar</h3>
  <p>(you will allow them to book any available slot...)</p>
  <%= f.simple_fields_for :whitelists do |whitelist| %>
    <%= render 'whitelist_fields', f: whitelist %>
  <% end %>
  <div>
  <%= link_to_add_association "add person's email".html_safe, f, :whitelists %>
  </div>
</div>
<div style="margin: 25px">
</div>
<div class="col-xs-12 links">
  <%= f.button :submit, class: "btn btn-warning" %>
  <%= link_to 'Cancel', places_path %>
</div>
