<%= f.error_notification %>

<%= f.input :name, class: 'field' %>
<%= f.input :address, class: 'field' %>
<%= f.input :photo, as: :attachinary, class: 'field' %>

<div id="whitelists">
  <h3>Invite someone to access this calendar</h3>
  <p>(you will allow them to book any available slot...)</p>
  <%= f.simple_fields_for :whitelists do |whitelist| %>
    <%= render 'whitelist_fields', f: whitelist %>
  <% end %>
  <div>
  <%= link_to_add_association "add a user's email".html_safe, f, :whitelists, class: "btn btn-secondary", type: 'button' %>
  </div>
</div>
<div class="col-xs-12 links">
  <%= f.button :submit, class: "btn btn-primary" %>
  <%= link_to 'Cancel', places_path %>
</div>
