<div class="wrapper">
  <div class="container-fluid">
    <div class="row header-place">
      <div id="background-place-header" style="background-image: linear-gradient(-5deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 30%), url('<%= @image %>')">
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-5 header-block">
            <div class="header-item-image">
              <% if @place.photo %>
              <%= cl_image_tag @place.photo.path, class:"place-img-header" %>
              <% else %>
              <%= image_tag 'photo6.jpg', class:"place-img-header" %>
              <% end %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-7 header-block">
            <div class="place-border-block">
              <h2><%= @place.name %></h2>
              <p><em><%= @place.address %></em></p>
              <br>
             <p>Available on :<% @place.array_available_day.each do |day| %> <span class="label label-success"> <%= day %> </span> <% end %></p>
             <br>
             <p>This place was created by</p>
             <% if @place.user.avatar %>
               <%= cl_image_tag @place.user.avatar.path, class: "avatar-bordered dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
             <% else %>
               <%= image_tag "avatardefault.png", class:"avatar-bordered dropdown-toggle", id:"navbar-wagon-menu", "data-toggle" => "dropdown" %>
             <% end %>
             <span><%= @place.user.first_name %> <%= @place.user.last_name %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
