<div class="col-xs-12 col-sm-6">
  <div class="place-card">
    <div class="place-card-description">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <h2><%= place.name %></h2>
          <p><em><%= place.address %></em></p>
        </div>
      </div>
      <div class="place-img-block" >
        <%= link_to place_path(place) do %>
        <% if place.photo %>
        <%= cl_image_tag place.photo.path, class:"place-card-img" %>
        <% else %>
        <%= image_tag 'tennis.jpg', class:"place-card-img" %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

