<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div id="background-form">
        <h1>Update the place <%= @place.name%></h1>
        <%= simple_form_for(@place) do |f| %>
        <%= render partial: 'form', locals: {f: f} %>
        <% end %>
        <br>
        <%= link_to 'Back', places_path %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <% if current_user == @place.user %>
      <div>
        <h3>list des invités</h3>
        <ul>
          <% @whitelists.each do |whitelist| %>
          <li> <%= whitelist.email %>  <%= link_to "delete", place_whitelist_path(@place, whitelist), class:'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you really sure?" } %></li>
          <% end %>
        </ul>
        <div>
          <%= simple_form_for [@place, @whitelist] do |f| %>
          <%= f.input :email %>
          <%= f.button :submit, class: "btn btn-primary" %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

