<% num = rand(1..6).to_s %>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'photo' + num + '.jpg' %>');">
  <div class="banner-content">
    <%= image_tag "logowhitenopin.png", height:'70px' %>
    <br>
    <br>
    <p>The easiest way to manage calendars for <span class="element"></span></p>
    <%= link_to new_place_path, class:'btn btn-warning' do %>
      start your own <%= image_tag "pinwhite.png", height:'30px' %>
    <%end%>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
        $(".element").typed({
            strings: ["^0shared spaces", "^3000 a meeting room", "^2000 a tennis court", "^2000 your family cabin", "^2000 or a shared boat","^2000 ...","^2000 any shared space..."],
            typeSpeed: 0
        });
    });
  <% end %>
<% end %>
