<div class="place-title">
  <h1>My Places  <%= link_to "Add a place", new_place_path, class: "btn btn-primary btn-round" %></h1>
</div>


<div class='container container-place'>
  <div class="row">
    <% @places.each do |place| %>
    <div class="col-xs-12 col-sm-6">
      <div class="place-card-block">
        <div class="place-img-block" >
          <%= link_to place_path(place) do %>
          <% if place.photo %>
          <%= cl_image_tag place.photo.path, class:"place-card-img img-fluid" %>
          <% else %>
          <%= image_tag 'photo6.jpg', class:"place-card-img img-fluid" %>
          <% end %>
          <% end %>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-5">
            <div class="flex-button-container">
              <%= link_to "<i class= 'fa fa-eye'></i>  View".html_safe, place_path(place), class: "btn btn-primary btn-round" %>
              <%= link_to "<i class= 'fa fa-pencil'></i>  Edit".html_safe, edit_place_path(place), class: "btn btn-success btn-round" %>
              <%= link_to "<i class= 'fa fa-trash-o'></i>  Remove".html_safe, place_path(place), method: :delete, class: "btn btn-danger btn-round", data: { confirm: "Are you really sure you want to delete the place?" } %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-7">
            <h2><%= place.name %></h2>
            <p><em><%= place.address %></em></p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>





