<h1 class="text-center">My Places</h1>

<div class="text-center padded">
  <%= link_to "Add a place", new_place_path, class: "btn btn-primary" %>
</div>


<div class="container">
  <div class="row">
    <% @places.each do |place| %>
      <%= link_to place_path(place) do %>
        <div class="col-xs-12 col-sm-4">
          <div class="card text-center">
            <div class="card-category">
            <h1><%= place.name %></h1>
            </div>
            <div class="card-description">
                <h2><%= place.address %></h2>
            </div>
          </div>
          <%= link_to "edit infos", edit_place_path(place) %>
          <%= link_to "manage users", place_whitelists_path(place) %>
          <%= link_to "view place", place_path(place) %>
          <%= link_to "delete", place_path(place), method: :delete, data: { confirm: "Are you really sure you want to delete the place?" } %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
