<div class="container-place">
  <div>
    <h2><%= @place.name %></h2>
    <p><%= @place.address %></p>
    <% if @place.photo? %>
  <%= cl_image_tag @place.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>
  </div>
  <div>
    <h3>Make a booking</h3>
    <%= simple_form_for [@place, @booking] do |f| %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
    </div>
</div>
