<h2><%= @place.name %></h2>
<p><%= @place.address %></p>

<%= simple_form_for [@place, @booking] do |f| %>
  <ul class="list-unstyled">
    <li><%= f.input :start_time%></li>
    <li><%= f.input :end_time%></li>
    <li><%= f.submit%></li>

  </ul>
<% end %>
